# Ignore everything
*

# But not these files...
!*.py
!*.md
!*.yaml
!*.yml
!*.codon
!README
!README.*
!*.zip
!*.tar

*.pyc
# Allow week[number] directories and their contents
!week*/
!week*/**
!utilities/